/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color styles */
:root {
    --headercolor: #FF6900;
    --ecocolor: #008000;
    --pricecolor: #FF0000;
    --maincolor: #1A1A1A;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER STYLE */

header {
    background-color: var(--headercolor);
    padding: 10px;
    min-width: 1200px;
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 100px;

}

header a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.headerposition {
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
}

.utility i {
    padding: 2px;
}

.logo img {
    width: 172px;
}

/* UTILITY */
.flexb {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.centered {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}


/* CARDS */
.card {
    max-width: calc(100% / 3);
    position: relative;
    padding: 10px;
}

.imgitem {
    position: relative;
    width: 380px;
    height: 553.63px;
    background-size: cover;
}


/* CARDS CHANGING IMAGES ON HOVER */

#one {
    background-image: url("../img/1.webp");
}

#two {
    background-image: url("../img/2.webp");
}

#three {
    background-image: url("../img/3.webp");
}

#four {
    background-image: url("../img/4.webp");
}

#five {
    background-image: url("../img/5.webp");
}

#six {
    background-image: url("../img/6.webp");
}

#one:hover {
    background-image: url("../img/1b.webp");
}

#two:hover {
    background-image: url("../img/2b.webp");
}

#three:hover {
    background-image: url("../img/3b.webp");
}

#four:hover {
    background-image: url("../img/4b.webp");
}

#five:hover {
    background-image: url("../img/5b.webp");
}

#six:hover {
    background-image: url("../img/6b.webp");
}


/* BADGES */
.offer {
    background-color: var(--pricecolor);
}

.eco {
    background-color: var(--ecocolor);
    left: 65px;
}

#lasteco {
    left: 0px;
}

.badge {
    position: absolute;
    top: 475px;
    padding: 8px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

/* FAVOURITE BUTTON */
.favourite {
    background-color: white;
    padding: 0px 15px 0px 15px;
    color: var(--maincolor);
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 30px;
    text-align: left;
}

.favourite:hover {
    color: red;
    cursor: pointer;
}

/* ITEM DESCRIPTION */
.infoitem {
    line-height: 17px;
}

.infoitem p {
    font-size: 14px;
}

.infoitem p:last-child {
    color: red;
    font-weight: bold;
}

.infoitem p span {
    color: grey;
    text-decoration: line-through;
    font-weight: 300;
    padding-left: 5px;
}

/* FOOTER STYLE */

footer {
    background-color: var(--maincolor);
    color: white;
    margin-top: 45px;
    min-width: 1200px;
}

.boolandoinfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;

}

.boolandoinfo h5 {
    font-size: 20px;
}

.legalpages a {
    font-size: 13px;
    padding-right: 5px;
    color: white;
    text-decoration: none;
}

.socialitem p {
    font-weight: bold;
    font-size: 14px;
}

.socialitem i {
    padding-right: 5px;
    padding-top: 10px;
    font-size: 20px;
}

footer a:hover {
    text-decoration: underline;
}