/* RESET */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Color styles */
:root {
--headercolor: #FF6900;
--ecocolor: #008000;
--pricecolor: #FF0000;
--maincolor: #1A1A1A;
}

/* HEADER STYLE */

header {
    background-color: var(--headercolor);

}

/* UTILITY */
.flexb {
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.centered {
    max-width: 1200px;
    margin:0 auto;
}

/* CARDS */
.card {
    width: calc(100% / 3);
    position:relative;
}

.card img {
    width: 100%;
}

/* BADGES */
.offer {
    background-color:var(--pricecolor);
    margin-left:90px;
}

.eco {
    background-color: var(--ecocolor);
}

.badge {
    position:absolute;
    top:400px;
    padding:5px 3px 5px 3px;

}

